
WEBSERVER_CONTAINER_NAME=cyc_react_web

#Si se modifica esta variable, tambien debe modificarse en el Dockerfile
BUILD_REACT_PATH=./react-app/build

# Docker Logging Config
#
# This section offers two options max-size and max-file, which follow the docker documentation
# as follow:
#
# logging:
#      driver: "json-file"
#      options:
#        max-size: "200k"
#        max-file: "10"



#
#APP_LOG_DRIVER=json-file
#APP_LOG_MAX_SIZE=4m
#APP_LOG_MAX_FILE=10

#WEBSERVER_LOG_DRIVER=json-file
#WEBSERVER_LOG_MAX_SIZE=2m
#WEBSERVER_LOG_MAX_FILE=10

#DB_LOG_DRIVER=json-file
#DB_LOG_MAX_SIZE=2m
#DB_LOG_MAX_FILE=10




NETWORK=webproxy

#
# Para usar letsencrypt es necesario implementar el repositorio
#(https://github.com/evertramos/docker-compose-letsencrypt-nginx-proxy-companion)
#

#
# Your domain (or domains)
#
DOMAINS=comeycome.com,www.comeycome.com

MAIN_DOMAIN=comeycome.com

#
# Your email for Let's Encrypt register
#
LETSENCRYPT_EMAIL=norberto.ibarra@ibanor.mx

#
# Path to the certificates
# Si se configuró el repositorio, el path es:
# /home/user/webproxy/data/certs
SSL_PATH=/path/to/your/certs

#
# SSL Certificates previously generated
#
SSL_CERTIFICATE=/certs/$MAIN_DOMAIN.crt
SSL_KEY=/certs/$MAIN_DOMAIN.key
